<% layout("Layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center mb-3">New Campsite</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <p class="">
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                </p>
                <p>
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                </p>
                <p>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                      </div>
                    <!-- <input type="file" name="image" id="image" multiple> -->
                </p>
                <p>
                    <label class="form-label" for="price">Price: </label>
                    <input class="form-control" type="text" id="price" name="campground[price]" required>
                </p>
                <p>
                    <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="10"
                        required>Enter description here</textarea>
                </p>
                <p>
                    <button class="btn btn-primary">Submit</button>
                </p>
            </form>
        </div>
    </div>
